body {
    background-image: url("abstract-colorful-geometric-shape-background-modern-color-background-for-your-website-vector.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    img opacity: 0.5;
}
.navbar{
    height: 13px;
    padding: 25px;
    color: rgb(235, 174, 117);
    background-color: rgb(86, 13, 58);
    border-radius: 10px;
    
}
#services{
    text-decoration: none;
    color:rgb(235, 174, 117);
}
.div1{
    display: inline;
}
.div2{
    text-align: center;
}
#box{
    height: 100px;
    width: 600px;
    background-color: bisque;
    color: rgb(10, 134, 139);
    margin-bottom: 20px;
    border-radius: 10px;
    
}
#box2{
    height: 100px;
    width: 600px;
    background-color: bisque;
    color: rgb(10, 134, 139);
}
#box3{
    height: 100px;
    width: 600px;
    background-color: bisque;
    color: rgb(10, 134, 139);
}
h1{
    color: rgb(146, 18, 8);
    display: inline;
}
a{
    margin-right: 40px;
    font-size: large;
    text-decoration: none;
}
h2{
    color: aqua;
}